/*
	dark-gray	#656565
	light-gray	#C4C4C4
	red 		#560F0F
	light-red 	#C90000
*/

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12pt;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}

footer {
	background-color: #C4C4C4;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

footer p {
	margin-bottom: 0px;
	font-size: 10pt;
}

.loading {
	text-align: center;
	margin-top: 100px;
}

.logo {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.logo-box {
	padding: 0px 0px 0px 10px;
}

.map {
	max-width: 600px;
	max-height: 600px;
}

.max-500 {
	/*max-width: 500px;*/
	margin-left: auto;
	margin-right: auto;
}

.menu {
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.menu h1 {
	font-size: 20pt;
	font-weight: bold;
}

.menu td, .menu h2 {
	font-size: 16pt;
	font-weight: bold;
}

.menu dd {
	font-size: 12pt;
}

nav {
	border-bottom-width: 0px;
}

.nav-main {
	background-color: #C4C4C4;
}

.nav li {
	font-size: 20pt;
}

.pad-left {
	padding-left: 10px;
	border-left-width: 3px;
}

.pad-right {
	padding-right: 10px;
	border-right-width: 3px;
}

.photo-cover {
	background-size: 100% auto;
	height: 300px;
	background-repeat: no-repeat;
	background-position: 0% 20%;
	position: relative;
}

.photo-profile {
	position: absolute;
	bottom: 0;
}

.post {
	
}

.post ul {
	list-style: none;
}

.post-message {
	font-size: 20pt;
	font-weight: bold;
}

.post-time {
	font-size: 16pt;
}

.text-right {
	text-align: left;
}

.right {
	text-align: right;
}

ul, .slogan {
	padding-left: 20px;
}

.time-schedule li {
	list-style: none;
	margin-bottom: 5px;
	font-size: 16pt;
}

.ui-container {
	padding-top: 70px;
	width: 100%;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

	.text-right {
		text-align: right;
	}

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {



}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

	
	
}