/*
	dark-gray	#656565
	light-gray	#C4C4C4
	red 		#560F0F
	light-red 	#C90000
*/

a, a:hover, a:focus {
	color: currentColor;
	text-decoration: none;
}

.about-page h1, .home h1, .home h2 {
	margin-top: 0px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12pt;
}

#home {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*height: 100%;
	width: 100%;*/
	background-attachment: fixed;
	background-position: center;
	/*position: fixed;*/
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.no-centered {
	text-align: initial;
}

.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}

footer {
	background-color: #C4C4C4;
	padding-top: 5px;
	padding-bottom: 15px;
	/*margin-top: 15px;*/
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

footer p {
	margin-bottom: 0px;
	font-size: 10pt;
}

img {
	height: 100%;
	width: 100%;
}

#img-tl {
	background-image: url('../img/window.jpg');
}

#img-tr {
	background-image: url('../img/omlet.jpg');
}

#img-bl {
	background-image: url('../img/parfait.jpg');
}

#img-br {
	background-image: url('../img/fruitsalad.jpg');
}

.img-box {
	display: inline-block;
	background-position: center;
	background-size: cover;
	margin: 10px;
	padding: 10%;
	box-sizing: border-box;
}

.img-container {
	/*width: 25%;*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	text-align: center;
}

.loading {
	text-align: center;
	margin-top: 100px;
}

.logo {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.logo-box {
	padding: 0px 0px 0px 10px;
}

.map {
	margin-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

#map-frame {
	display: inline-block;
	width: 100%;
}

.menu {
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 20px;
}

.menu h1 {
	font-size: 20pt;
	font-weight: bold;
}

.menu td, .menu h2 {
	font-size: 16pt;
	font-weight: bold;
}

.menu dd {
	font-size: 12pt;
}

nav {
	border-bottom-width: 0px;
}

.nav-main {
	background-color: #C4C4C4;
}

.nav li {
	font-size: 20pt;
}

.no-margin {
	margin: 0px;
}

.right-margin {
	margin-right: 30px;
}

.no-pad {
	padding: 0px;
}

.pad-left {
	padding-left: 10px;
	border-left-width: 3px;
}

.pad-right {
	padding-right: 10px;
	border-right-width: 3px;
}

.page-title {
	text-align: center;
	padding-top: 30px;
}

.photo-cover {
	background-size: 100% auto;
	height: 300px;
	background-repeat: no-repeat;
	background-position: 0% 20%;
	position: relative;
}

.photo-profile {
	position: absolute;
	bottom: 0;
}

.posts {
	
}

.posts ul {
	list-style: none;
}

.posts-list {
	padding: 0px;
	margin-bottom: 0px;
}

.post:nth-child(odd) {
	background-color: #C4C4C4;
}

.post {
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.post-master {
	border-width: 2px;
	border-style: solid;
	border-color: #656565;
}

.post p {
	margin-bottom: 5px;
	margin-top: 5px;
}

.post-message {
	font-size: 20pt;
	font-weight: bold;
}

.post-time {
	font-size: 16pt;
}

.text-right {
	text-align: left;
}

.right {
	text-align: right;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0px;
}

@keyframes toTop {
	from { bottom: -30px; }
	to { bottom: 30px; }
}

@keyframes toBot {
	from { bottom: 30px; }
	to { bottom: -30px; }
}

.slogan {
	padding-left: 20px;
}

.space {
	padding-left: 20px;
	padding-right: 20px;
}

#toTop {
	position: fixed;
	bottom: 30px;
	left: 30px;
	animation-duration: .5s;
}

.time-schedule li {
	list-style: none;
	margin-bottom: 5px;
	font-size: 16pt;
}

.ui-container {
	padding-top: 50px;
	width: 100%;
}

.window {

}

.window img {
	width: 100%;
	height: auto;
}

.wood {
	background-image: url("../img/wood_background.jpg");
	color: #FFD5AA;
}

.wood-green {
	background-image: url("../img/static_fine_wood.png");
	background-color: rgba(133, 179, 84, 1);
	color: #000000;
	font-weight: 600;
}

.wood-green h2 {
	font-weight: 600;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

	body {
		font-size: 18pt;
	}

	h1 {
		font-size: 42pt;
	}

	.map {
		padding-left: 0px;
		padding-right: 0px;
	}

	.post-message {
		font-size: 16pt;
		font-weight: bold;
	}

	.post-time {
		font-size: 12pt;
	}

	.text-right {
		text-align: right;
	}

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {



}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

	
	
}