<div id="home" class="home">
	<div class="page-title">
		<h1>Wild Annie's Gourmet Food Trailer</h1>
		<br>
		<div class="img-container row">
			<div class="row no-margin">
				<div class="col-xs-0 col-sm-2"></div>
				<div id="img-tl" class="img-box col-xs-0 col-sm-4"></div>
				<div id="img-tr" class="img-box col-xs-0 col-sm-4"></div>
				<div class="col-xs-0 col-sm-2"></div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-0 col-sm-2"></div>
				<div id="img-bl" class="img-box col-xs-0 col-sm-4"></div>
				<div id="img-br" class="img-box col-xs-0 col-sm-4"></div>
				<div class="col-xs-0 col-sm-2"></div>
			</div>
		</div>
	</div>
	<div class="wood row section">
		<div class="col-xs-0 col-sm-2"></div>
		<div class="col-xs-12 col-sm-4">
			<div>
				<img src="../img/burger.jpg" alt="picture of a delicious burger" />
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h2>taste greatness</h2>
			<p>Wild Annies is a lifetime dream of creating food with attitude. We are dedicated to giving great food to our local community and surrounding areas.We want to share our love of food and our passion of creative cooking. Food is not just a fuel, it is an inspiration of what you can accomplish. You get out of your body, what you put into it. You feel as good as you eat.We want you to enjoy your food and environment with friends or colleages as you take time to relax and regroup</p>
		</div>
		<div class="col-xs-0 col-sm-2"></div>
	</div>
	<div class="wood-green row section">
		<div class="col-xs-0 col-sm-2"></div>
		<div class="col-xs-12 col-sm-4 col-sm-push-4">
			<div>
				<img src="../img/salad.jpg" alt="picture of a delicious salad" />
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-sm-pull-4">
			<h2>we know food.</h2>
			<h2>truly great food</h2>
			<p>At Wild Annie's we put love in our food. We take the time and effort to make your taste buds sing. We want you to experience food the way IT SHOULD BE!</p>
			<p>All ingredients are prepared fresh and homemade. We want you to enjoy the flavors and tastes that are not found everywhere.</p>
		</div>
		<div class="col-xs-0 col-sm-2"></div>
	</div>
	<div class="wood row section">
		<div class="col-xs-0 col-sm-2"></div>
		<div class="col-xs-12 col-sm-4">
			<div>
				<img src="../img/chili.jpg" alt="picture of some delicious chili" />
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h2>we care.</h2>
			<h2>food with attitude</h2>
			<p>At Wild Annie's we get aggressive with our ingredients. We round them up and corral them into submission. There are required to mix and mingle. They must relax and get happy. They can not be rushed into happiness. Their main goal is to tingle your tongue.</p>
			<p>We slowly roast our meats, and make all dressings and sauces from scratch. This process can not be hurried or shortened. By the end of the lengthy party, the ingredients emerge with a can do ATTITUDE!</p>
		</div>
		<div class="col-xs-0 col-sm-2"></div>
	</div>
</div>