<div class="home container-fluid">
	<div class="row">
		<div class="col-sm-4 col-xs-12">

			<div>
				<h1>Wild Annie's Food Truck</h1>
				<h2 class="slogan"><em>take a bite on the wild side</em></h2>
			</div>

			<hr/>

			<div>
				<h1>Hours of Operation</h1>
				<ul>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Monday
							</div><div class="right col-xs-6 col-sm-6">
								Closed
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Tuesday
							</div><div class="right col-xs-6 col-sm-6">
								11:00am - 5:00pm
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Wednesday
							</div><div class="right col-xs-6 col-sm-6">
								11:00am - 5:00pm
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Thursday
							</div><div class="right col-xs-6 col-sm-6">
								11:00am - 5:00pm
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Friday
							</div><div class="right col-xs-6 col-sm-6">
								11:00am - 7:00pm
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Saturday
							</div><div class="right col-xs-6 col-sm-6">
								Closed
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Sunday
							</div><div class="right col-xs-6 col-sm-6">
								Closed
							</div></div></li>
					
				</ul>
			</div>

		</div>

		<div class="col-xs-2 col-sm-5"></div>

		<!-- <div class="max-500 col-sm-3 col-xs-8">
			<div class="fb-page" data-href="https://www.facebook.com/wild.annies.food.truck" data-tabs="timeline" data-width="450" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/wild.annies.food.truck"><a href="https://www.facebook.com/wild.annies.food.truck">Wild Annie&#039;s Food Truck</a></blockquote></div></div>

			<div ng-hide="rendered" class="loading">
				<i class="fa fa-cog fa-spin fa-5x"></i>
			</div> -->

		</div>

		<div class="col-xs-2"></div>

	</div>
</div>