<div class="home container-fluid">
	<div class="row">
		<div class="col-sm-4 col-xs-12">

			<div>
				<h1>Wild Annie's Food Truck</h1>
				<h2 class="slogan"><em>take a bite on the wild side</em></h2>
			</div>

			<hr/>

			<div>
				<h1>Hours of Operation</h1>
				<ul class="time-schedule">
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Monday
							</div><div class="right col-xs-6 col-sm-6">
								Closed
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Tuesday
							</div><div class="right col-xs-6 col-sm-6">
								11:00am - 5:00pm
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Wednesday
							</div><div class="right col-xs-6 col-sm-6">
								11:00am - 5:00pm
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Thursday
							</div><div class="right col-xs-6 col-sm-6">
								11:00am - 5:00pm
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Friday
							</div><div class="right col-xs-6 col-sm-6">
								11:00am - 7:00pm
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Saturday
							</div><div class="right col-xs-6 col-sm-6">
								Closed
							</div></div></li>
					<li><div class="row"><div class="col-xs-6 col-sm-6">
								Sunday
							</div><div class="right col-xs-6 col-sm-6">
								Closed
							</div></div></li>
					
				</ul>
			</div>

		</div>

		<div class="col-lg-5 col-sm-2 col-xs-0">
			

		</div>

		<div class="max-500 col-lg-3 col-sm-6 col-xs-12">

			<div>
				<div class="photo-cover" ng-style="{'background-image': 'url(' + feed.cover + ')'}">
					<img class="photo-profile" ng-src="{{feed.picture}}" alt="profile picture">
				</div>
				<div class="post" ng-repeat="post in feed.posts | orderBy: 'post.time'">
					<ul>
						<!-- <li class="post-heading">{{feed.name}}</li> -->
						<li class="post-message">{{post.message || post.story}}</li>
						<li class="post-time">{{post.time | date: 'M-d-y: h:ma'}}</li>
					</ul>
					<!-- <div>
						{{feed.name}}<br>
						{{post.time | date: 'M-d-y: h:ma'}}<br>
						{{post.message || post.story}}
					</div> -->
				</div>
			</div>

		</div>

		<!-- <div class="col-xs-2"></div> -->

	</div>
</div>