<div class="centered menu">

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h1>Starters</h1>
			<dl>
				<dt>Chili 3.25</dt>
					<dd>Wild Annie's Homemade Black Bean Chili</dd>
				<dt>Loaded Chili Bowl 4.25</dt>
					<dd>Chili, Tater Tots, Cheddar Cheese, Chopped Red Onion, Sour Cream and Jalape&ntilde;os</dd>
				<dt>French Fries 1.50</dt>
					<dd></dd>
				<dt>Cheesy Bacon Ranch Waffle Fries 4.99</dt>
					<dd>Crispy Waffle Fries, Bacon, Grated Cheddar Cheese, Homemade Ranch Dressing</dd>
				<dt>Loaded Chili Fries 6.00</dt>
					<dd>Double Order of French Fries, Chili, Cheddar Cheese, Chopped Red Onion and Jalape&ntilde;os</dd>
				<dt>Homemade House Chips 5.00</dt>
					<dd>Small 3.00</dd>
				<dt>Homemade House Ranch Dipping Sauce 1.00</dt>
					<dd></dd>
				<dt>Small Garden Salad 2.99</dt>
					<dd>Lettuce, Tomatoes, Cucumber, Croutons</dd>
			</dl>

			<h1>For the Smaller Appetite</h1>
			<dl>
				<dt>Chicken Strip Basket 4.99</dt>
					<dd> Three Strips served with French Fries</dd>
			</dl>
		</div>

		<div class="col-xs-12 col-sm-6">
			<h1>Beverages</h1>
			<dl>
				<dt>Bottled Water 1.00</dt>
				<dt>Pepsi Products 16 oz. Bottle 1.50</dt>
				<dt>Unsweetened Brewed Iced Tea 1.50</dt>
				<dt>Home Brewed Sweetened Raspberry Iced Tea 1.99</dt>
				<dt>Seasonal Fruit Smoothie w/ Whipped Cream 3.99</dt>
				<dt>*For your sweet tooth - Homemade Seasonal Parfaits 4.99</dt>
			</dl>

			<h1>Wild Annie's Homemade Chicken Salad 7.50</h1>
			<p>Prepared with our All White Meat Roasted Chicken Breast</p>
			<dl>
				<dt>Served as a Wrap</dt>
					<dd>Includes Lettuce, Tomato, Diced Onion and Choice of Parmesan or Grated Cheddar Cheese</dd>
				<dt>Served on Whole Wheat Bread</dt>
					<dd>Includes LEttuce, Tomato, Sliced Onion and Choice of Cheddar or Swiss Cheese</dd>
				<dt>Served as a Salad</dt>
					<dd>Includes Lettuce, Tomato, Diced Onion and Choice of Parmesan or Grated Cheddar Cheese</dd>
				<dt>Hooper Chicken Salad or Wrap</dt>
					<dd>Wild Annie’s Homemade Chicken Salad, with Lettuce, Diced Fresh Apples, Dried Cranberries, Pecans and Raspberry Vinaigrette</dd>
				<dt>Available by the Half Pound or Pound</dt>
					<dd>3.50/7.00</dd>
			</dl>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h1>Wraps or Salads 7.55</h1>
			<p>All items listed below can either be a wrap or a salad</p>
			<p>Wraps include House Chips and Dip</p>
			<dl>
				<dt>Caesar</dt>
					<dd>Grilled Chicken, Crisp Romaine Lettuce, Parmesan Cheese &amp; Homemade Croutons, Caesar Dressing</dd>
				<dt>Thai</dt>
					<dd>Grilled Chicken, Lettuce Mix, Nappa Cabbage, Shredded Carrots, Cucumbers, Sweet Red Peppers, Green Onions, Water Chestnuts, Mint, Basil, Sesame Seeds, Homemade Thai Dressing</dd>
				<dt>Southwest</dt>
					<dd>Grilled Chicken, Lettuce Mix, Black Beans, Corn, Sweet Red Pepper, Grated Cheddar Cheese, Tortilla Strips, House Ranch Dressing</dd>
				<dt>Asian</dt>
					<dd>Grilled Chicken, Lettuce Mix, Nappa Cabbage, Sugar Snap Peas, Cucumber, Rice Noodles, Water Chestnuts, Mandarin Orange, Sesame Seeds, Ginger Dressing</dd>
				<dt>Harvest</dt>
					<dd>Grilled Chicken, Lettuce Mix, Fresh Apple, Dried Cranberries, Crumbled Bleu Cheese, Pecans, Apple Cider or Raspberry Vinaigrette</dd>
				<dt>Clucker Classic</dt>
					<dd>Grilled Chicken, Lettuce Mix, Fried Chicken Strips, Grated Cheddar, Crumbled Bacon, Hardboiled Egg, Grape Tomato, Honey Mustard Dressing</dd>
				<dt>Fajita</dt>
					<dd>Grilled Chicken, Lettuce Mix, Crumbled Queso Cheese, Sautéed Peppers and Onions and Chipotle Lime Dressing</dd>
				<dt>Kickin' Chicken</dt>
					<dd>Grilled Chicken, Lettuce Mix, Fried Chicken Strips tossed in a Hot Wing Sauce, Grated Cheddar Cheese, Red Onion, and Choice of Ranch or Bleu Cheese Dressing</dd>
				<dt>Bacon Cheeseburger</dt>
					<dd>Grilled Chicken, Lettuce Mix, Burger, Grated Cheddar Cheese, Tomato, Onion, Dill Pickles, Crumbled Bacon and Homemade Burger Sauce</dd>
				<dt>The Cowboy</dt>
					<dd>Grilled Chicken, Lettuce Mix, Corn, Black Beans, Bacon, Jalape&ntilde;o’s, Grated Cheddar Cheese, and Pepper Jack Cheese, Homemade BBQ Sauce</dd>	
			</dl>

			<div>
				<p>Out Incredibly Low Country Seafood Boil</p>
				<p>Every Friday Night</p>
				<ul>
					<li>Reservation Only</li>
					<li>Minimum of 8 people</li>
					<li>Sit down or Take out</li>
					<li>Inquire within</li>
					<li>35.00 / Person</li>
				</ul>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<h1>Burgers 8.50</h1>
			<p>
				Substitute any Burger for a Chicken Breast
			</p>
			<p>
				All Burgers served with Lettuce, Onion, Tomato, Dill Pickle and Mayo. Will only be added upon request, no extra charge • Comes with Homemade Chips and Dip
			</p>
			<dl>
				<dt>Why Bother Burger Basket 5.99</dt>
					<dd>6 oz. Burger Patty on a Small Bun w/ Cheese - includes Chips or Fries</dd>
				<dt>Build your own Burger</dt>
					<dd>Tell us what you want on it!</dd>
				<dt>Bacon, Mushroom &amp; Swiss Burger</dt>
					<dd>Fresh Saut&eacute;ed Mushrooms, Swiss Cheese, &amp; Smoked Bacon</dd>
				<dt>The Bruiser Burger</dt>
					<dd>Caramelized Onions with Crumbled Bleu Cheese on top, drizzled with Homemade Balsamic Mayo Dressing</dd>
				<dt>The Bourbon Burger</dt>
					<dd>Sharp Cheddar Cheese, Saut&eacute;ed Onions, Grilled Fresh Mushrooms, Bacon, and Homemade Sweet Bourbon Sauce</dd>
				<dt>Fajita Burger</dt>
					<dd>Saut&eacute;ed Onions &amp; Peppers in a Fajita Seasoning with Melted Queso Cheese &amp; Chipotle Lime Sauce</dd>
				<dt>M.I.A. Chili Burger</dt>
					<dd>Load your Burger with Chili, Onions, Cheddar Cheese &amp; Jalape&ntilde;o, you will need a Knife &amp; Fork for this one!</dd>
				<dt>Royal Annie Burger</dt>
					<dd>Cheddar Cheese, Lettuce, Tomato, Onion, Pickle, and Special Burger Sauce</dd>
				<dt>Rueben Burger</dt>
					<dd>Sauerkraut, Swiss Cheese, Homemade Thousand Island Dressing</dd>
				<dt>Spicy Buffalo Chicken Burger</dt>
					<dd>Crispy Chicken Strips, or a Grilled Chicken Breast, with your Choice of Homemade Ranch or Bleu Cheese, Lettuce, Onion, on a Toasted Bun, with Buffalo Sauce</dd>
				<dt>Texas Hold'em Burger</dt>
					<dd>Bacon, Cheddar Cheese, Crunchy Fried Onion Strings, &amp; Wild Annie’s Homemade BBQ sauce</dd>
				<dt>The A.B. Burrito</dt>
					<dd>Fresh Ground Beef, Smothered in our Black Bean Chili, Grated Cheddar and Pepper Jack Cheese, Pickled Jalapeno’s, and our Homemade Pickled Anaheim Peppers, Diced Red Onion, and Sour Cream, Wrapped in a Flour Tortilla and Grilled</dd>
			</dl>
			<div>
				<p>Hand pressed, Fresh Beef Patties</p>
				<p>Made to order</p>
			</div>
		</div>
	</div>

	<p>Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk for food borne illness, especially if you have certain medical conditions.</p>

</div>